[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
aws-sam-cli = "*"
pytest = "*"
moto = "*"
pylint = "*"
pep8 = "*"
autopep8 = "*"

[packages]
cerberus = "*"

[requires]
python_version = "3.7"
